{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-success">


                {% if app.user != null %}
                  
                    {% include 'navbar.html.twig' with {'var':'true', 'user': app.user.email , 'alert': alert  }  %}
                   
                    {% if character.1 is defined %}
                        <h2> Tabel cu toti angajatii</h2>
                        <table class="table">
                            <tr>
                                <th>Nume</th>
                                <th>Prenume</th>
                                <th>Adresa Email</th>
                                <th>Numar de telefon</th>
                                <th>Data incheiere contract</th>
                                <th>Cerere in curs de procesare</th>
                                <th>Proceseaza cerere</th>
                            </tr>

                        {% for key, item in character %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.surename }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone_number }}</td>
                                <td>{{ item.sf_contract }}</td>
                                <td>{{ item.cerere }}</td>
                                <td> {%if (item.cerere == 0 or item.cerere == null)%}
                                    {%else%}
                                    <form action="{{path('solvCerere')}}" method="post">
                                        <input type="checkbox" id="{{app.user.cnp}}" name="solvCerere" value="{{item.cerere}}" >
                                        <input type="hidden" id="{{app.user.cnp}}" name="userCerere" value="{{item.cnp}}" >
                                        <input type="submit" value="{{'Proceseaza cerere'}}"/>
                                    </form>
                                    {%endif%}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                    
                    {% else %}
                      
                        <table class="table">
                            <tr>
                                <th>Nume</th>
                                <th>Prenume</th>
                                <th>Adresa Email</th>
                                <th>Numar de telefon</th>
                                <th>Data incheiere contract</th>
                                <th>Cerere in curs de procesare</th>
                            </tr>

                        {% for key, item in character %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.surename }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.phone_number }}</td>
                                <td>{{ item.sf_contract }}</td>
                                <td>{{ item.cerere }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                     {% endif %}
                {% else %}
                    {% include 'navbar.html.twig' with {'var':'false'} %}
                {%endif %}
            </div>

            {% if app.user == null %}
              <a href="/login" class="btn btn-info"> You need to login to see the list 😜😜 >></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}